In [103]:
name=[]
number=[]
day_i = ["Bob:100", "Alice:100", "Celia:110", "Bob:20"]
for i in day_i:
    a=i.split(":")
    name.append(a[0])
    number.append(a[1])
number1=[int(i) for i in number]
new=tuple(zip(name,number1))
totals = {}
for key, value in new:
    totals[key] = totals.get(key, 0) + value
a=[]
b=[]
for key in sorted(totals):
    a.append(key)
    b.append(totals[key])

from pandas import DataFrame

import pandas as pd

data={"Customer":a,"Total Purchase":b}


DataFrame(data, columns=['Customer','Total Purchase'])

  Customer  Total Purchase
0    Alice             100
1      Bob             120
2    Celia             110